@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');

$gradbox-colorBlue: #83388d;
$gradbox-colorPink: #ecd38f;
$gradbox-LightGray: #b68fc5;
$gradbox-DarkGray: #53184e;

$gradbox-deg: 120deg;
$gradbox-bgSize: 400%;
$gradbox-animDur: 4s;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Courier Prime', monospace;
  background: linear-gradient(-75deg, #a8a3aa, #2a262b , #a8a2aa);
  background-size: 400% 400%;
  animation: gradient 8s ease-in-out forwards;
}

.bg {
  width: 200%;
  position: absolute;
  left: 0;
  animation: bgMove 8s linear infinite;
}

.container {
  width: 350px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  perspective: 500px;
  cursor: pointer;
  &:hover{
    .card{
      h2{
        color: #f5e559;
      }
    }
  }
}

.active {
  transform: rotateY(180deg);
  h2 {
    color: #f5e559;
  }
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #2a262b;
  box-shadow: 0px 0px 18px 5px rgba(#602194, 0.5);
  backface-visibility: hidden;
}

.front {
  background-color: #c1abda;

  h2 {
    color: #fff;
    font-size: 68px;
    text-align: center;
    position: relative;
    top: 320px;
    letter-spacing: 3px;
    font-style: italic;
    transition: 0.3s;
  }
}

.back {
  transform: rotateY(180deg);
  // background: linear-gradient($gradbox-deg, $gradbox-DarkGray, $gradbox-LightGray, $gradbox-DarkGray);
  background-image: linear-gradient(180deg, rgba(#e1dee2, 0.1)40%, rgba(#6e4360, 0.6)100%),url("card-back.png");
  background-size: 100%;
  // animation: gradient $gradbox-animDur ease-in-out;
  .cardborder{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 94%;
    height: 96%;
    border: 2px solid ;
    border-image: linear-gradient(-120deg, $gradbox-DarkGray, $gradbox-LightGray, $gradbox-DarkGray) 1;
  }
  .backinfo{
    background-color: rgba(#2a262b,0.2);
    backdrop-filter: blur(2px);
    position: relative;
    top: 260px;
    width: 80%;
    margin: 4px auto;
    padding: 8px;
    text-align: center;
    h2{
      font-size: 16px;
    }
    h1{
      color: white;
      font-size: 28px;
      padding: 8px 0px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    h3{
      font-weight: light;
      color: white;
      font-size: 18px;
      letter-spacing: 2px;
      margin: 0px auto;
      padding-top: 8px;
    }
    p{
      font-weight: light;
      color: white;
      text-align: left;
      width: 70%;
      margin: 0 auto;
      line-height: 20px;
      padding-top: 4px;
    }
  }
  
}

.display {
  width: auto;
  height: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 30px;
  border: 2px solid #E2C8FD;
  background: linear-gradient($gradbox-deg, $gradbox-colorBlue, $gradbox-colorPink, $gradbox-colorBlue);
  background-size: 400% 400%;
  animation: gradient $gradbox-animDur ease-in-out infinite;

  border-radius: 20px;
  padding: 0px 15px;
}

svg {
  display: block;
  margin: 0 auto;

  path:nth-child(n+2) {
    visibility: hidden;
  }
}

svg .allpath {
  display: none;
}

@keyframes bgMove {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-100%, -100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }

  50% {
    background-position: 87% 100%;
  }

  100% {
    background-position: 14% 0%;
  }
}


.pokeball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  background-color: white;
  position: absolute;

  div {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .topball {
    width: 100%;
    height: 50%;
    left: 50%;
    top: 25%;
    background-color: #e21b36;
    border-radius: 40px 40px 0px 0px;
  }

  .centerbt {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    border: 2px solid #5d525f;
    background-color: white;
  }
}

.ball1 {
  top: 10px;
  left: 15px;
}

.ball2 {
  top: 10px;
  right: 15px;
}

.ball3 {
  top: 258px;
  left: 15px;
}

.ball4 {
  top: 258px;
  right: 15px;
}
