@font-face {
    font-family: 'NotoSerifTC-Ubuntu';
    src: url("fonts/NotoSansTC-Light.otf");
    font-weight: 300;
    unicode-range: U+4E00-9FFF,U+3100-312F;
  }
  
  @font-face {
    font-family: 'NotoSerifTC-Ubuntu';
    src: url("fonts/Ubuntu-Light.ttf");
    font-weight: 300;
    unicode-range: U+00-024F;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #e9e7e8;
    font-family: NotoSerifTC-Ubuntu;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #e9e7e8;
  }
  h1{
    font-size: 30px;
    background-color: #e9e7e8;
    margin: 0px 60px;
  }
  .burger{
    background-color: #FF7F50;
    border: 0;
    border-radius: 8px;
    margin: 0px 60px;
    width: 50px;
    height: 50px;
    &:hover{
      cursor: pointer;
      box-shadow: 1px 3px 10px #b89b8d;
      transform: translate(-1px,-3px);
      transition: 0.5s ease;
    }
    &::before,&::after{
      content: '';
      width: 30px;
      height: 3px;
      position: absolute;
      transition: 0.3s ease;
    }
    &::before{
      background-color: #fff;
      border-radius: 3px;
      transform: translate(-50%,-50%) rotate(0deg);
      transform-origin: 50%, 50%;
      margin-top: -12px;
    }
    &::after{
      background-color: #fff;
      border-radius: 3px;
      transform: translate(-50%,-50%) rotate(0deg);
      transform-origin: 50%, 50%;
      margin-top: 12px;
    }
  }
  .burgerinner{
    &::after{
      content: '';
      width: 30px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      border-radius: 3px;
      transform: translate(-50%,-33%);
      transition: 0.3s ease;
    }
  }
  .open{
    &::before{
      transform: translate(-50%,400%) rotate(135deg);
    }
    &::after{
      transform: translate(-50%,-400%) rotate(-135deg);
    }
    .burgerinner{
      &::after{
        left: 60%;
        opacity: 0;
      }
    }
  }
  .info{
    display: flex;
    margin-top: 160px;
    width: 96vw;
  }
  .menu {
    display: flex;
    flex: 1;
    color: #333;
    padding: 40px 0px 0px 40px;
  }
  
  .content{
    display: flex;
    flex: 4;
  }
  .rightList{
    flex: 1;
  }
  .list {
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 2px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-left: 5px;
  }
  
  a {
    text-decoration: none;
    color: #666;
  }
  a:hover {
    color: #FF7F50;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .text {
    letter-spacing: 1px;
    line-height: 25px;
  }

  .footer{
    height: 160px;
    width: 100vw;
    background-color: #d9d7d8;
    color: #666;
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    p{
      margin: 0px;
      padding: 3px 0px;
    }
  }
  .socialmedia{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a{
      img{
        margin: 5px;
        opacity: 80%;
        width: 50px;
        cursor: pointer;
      }
    }
  }


  @media screen and (min-width:1340px){
    .header{
        height: 160px;
        justify-content: space-between;
        h1{
            line-height: 160px;
        }
        .burger{
            display: none;
        }
    }
    .list{
        position: fixed;
        h3{
          font-size: 21.06px;
          margin: 21.06px 0px;
          font-weight: 700;
        }
    }
    .menu-border {
        margin: 0;
        padding: 0;
        height: 80%;
        border-left: 1px groove #FF7F50;
      }
    .content{
      padding: 40px 60px;
    }
  }
  @media screen and (max-width:1340px){
    .container{
        align-content: center;
    }
    .header{
        position: fixed;
        top: 0%;
        width: 100vw;
        height: 100px;
        justify-content: space-between;
        h1{
            line-height: 100px;
            margin: 0;
            padding: 0px 60px;
            font-size: 32px;
            a{
                color: #FF7F50;
            }
        }
        .burger{
            margin: 0px 60px;
            padding: 0px;   
        }
    }
    .info{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: 100px;
    }
    .list{
        text-align: center;
        padding-bottom: 26px;
        h3{
            margin: 0;
            line-height: 58px;
            font-size: 32px;
        }
        a{
            color: #666;
        }
        a:hover{
            color: #FF7F50;
        }
        li{
            display: none;
        }
    }
    .menu{
      padding: 0;
    }
    .menu-border {
        margin: 0px 0px 20px 0px;
        padding: 0;
        width: 90vw;
        border-top: 1px groove #FF7F50;
      }
    .content{
        padding: 20px 80px;
        margin: 0px;
    }
  }
  @media screen and (max-width:560px){
    .header{
        h1{
            font-size: 28px;
            margin: 0px 0px 0px 30px;
            padding: 0;
        }
        .burger{
            margin: 0px 30px 0px 0px;
        }
    }
    .list{
        h3{
            line-height: 46px;
            font-size: 30px;
        }
    }
    .content{
        padding: 0px 30px;
        h2{
            margin: 20px;
        }
    }
  }