.banner img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.banner img.maxH {
  max-height: 480px;
}

.title {
  padding: 0px 22px;
}
.title h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 20px 0px;
  letter-spacing: 2px;
  line-height: 1.3;
}
.title h2 {
  margin: 28px 0px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
.title .proj_info {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.title .tags li {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 16px 4px;
  margin-left: 0px;
}
.title .tool {
  display: flex;
}
.title .tool h5 {
  display: inline-block;
  padding: 4px 8px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  background-color: black;
  color: #C3E6FF;
}
.title .tool p {
  display: inline-block;
  padding-left: 8px;
  line-height: 1.3;
}
.title span {
  display: block;
  margin: 20px 0px;
  color: #0077CD;
}

.file-container {
  padding: 0px 22px;
  margin: 40px auto;
  max-width: 1280px;
}
.file-container h4 {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 60px;
}
.file-container p.context, .file-container h4.sublabel, .file-container .linkcards {
  max-width: 860px;
  margin: 40px auto;
}
.file-container .context {
  font-size: 18px;
  line-height: 1.7;
  margin: 32px 0px;
  font-weight: normal;
}
.file-container .context b {
  font-size: 20px;
  line-height: 2;
  font-weight: 600;
  color: #01355a;
}
.file-container .projimage {
  margin: 0 auto;
  width: 100%;
}
.file-container .projimage img {
  display: block;
  margin: 40px 0px 8px;
  border-radius: 10px;
}
.file-container .projimage img.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.file-container .projimage span {
  font-weight: 300;
  color: #333;
  line-height: 1.3;
}
.file-container .projimage.mid {
  max-width: 580px;
}
.file-container .projimage.fix {
  max-width: 860px;
}
.file-container .projlink {
  display: block;
  font-size: 18px;
  margin: 32px 0px;
  padding: 10px 40px;
  text-align: right;
  color: #0077CD;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  transition: all 0.1s;
}
.file-container .projlink:hover {
  color: coral;
  background-color: rgba(0, 0, 0, 0.1);
}
.file-container .two_column {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.file-container .two_column div {
  margin: 20px 0px;
}
.file-container .two_column div img {
  margin: 0px;
  margin-bottom: 4px;
}

.sw_label {
  display: none;
}

.demodevice {
  display: flex;
  margin: 40px 0px;
  background-color: #e7ebee;
  padding: 16px 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 6px;
}
.demodevice .device {
  border: 6px solid #434648;
  border-width: 10px;
  background-color: #434648;
  overflow-y: scroll;
  margin: 10px;
  border-radius: 24px;
  aspect-ratio: 9/16;
  transition: all 0.6s;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: rgba(180, 180, 180, 0.6) rgba(221, 221, 221, 0);
}
.demodevice .frame {
  transition: all 0.6s;
  border-radius: 10px;
  overflow: hidden;
}
.demodevice .frame img {
  display: block;
}
.demodevice .frame.mob {
  max-width: 375px;
}
.demodevice .frame.pc {
  max-width: 1440px;
}
.demodevice .pc {
  display: none;
}

#switch_img {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 90px;
  height: 50px;
  background: #828689;
  border-radius: 28px;
  border: 2px solid snow;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
#switch_img::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 24px;
  z-index: 2;
  border: 1px solid #464a4f;
  border-width: 3px 3px 6px;
  border-radius: 2px;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
#switch_img::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transform: scale(0.86);
  left: 0;
  transition: all 0.3s ease-in-out;
}

#switch_img:checked {
  background: #828689;
}
#switch_img:checked::before {
  width: 25px;
  height: 28px;
  transform: translate(-50%, -50%) rotate(90deg);
  border-width: 3px 8px 3px 3px;
  left: calc(100% - 25px);
}
#switch_img:checked::after {
  left: calc(100% - 50px);
}

#switch_img:checked + .device {
  aspect-ratio: 16/10;
}
#switch_img:checked + .device .mob {
  display: none;
}
#switch_img:checked + .device .pc {
  display: block;
}

.linkcards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.linkcards .item-cover, .linkcards .itemcard {
  position: relative;
}
.linkcards .itemcard {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  overflow: hidden;
  margin: 0px 0px 48px;
}
.linkcards .itemcard:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.linkcards .item-cover {
  width: 100%;
}
.linkcards .item-cover img {
  display: block;
  border-radius: 12px;
}
.linkcards .item-time {
  position: absolute;
  bottom: 0;
  left: 0;
}
.linkcards .item-time .item-tag {
  background-color: rgba(0, 119, 205, 0.6);
  color: white;
  margin: 16px;
}
.linkcards .item-text {
  margin: 16px 20px 24px;
}
.linkcards .item-text h3 {
  display: -webkit-box;
  font-size: 28px;
  color: #333;
  margin: 16px 0px;
  line-height: 1.3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.linkcards .item-text hr {
  width: 160px;
  margin: 20px auto;
  margin-bottom: 12px;
  border: 1px solid #D7D7D7;
}
.linkcards .item-text p {
  display: -webkit-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.credit {
  max-width: 720px;
  margin: 60px auto;
  margin-bottom: 80px;
}
.credit b {
  font-weight: 300;
}
.credit p {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .banner img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner img.maxH {
    max-height: 480px;
  }
  .fix_land_btm {
    padding: 16px 0px 24px;
  }
  .title {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 0px 32px;
  }
  .title .proj_info {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-top: 32px;
  }
  .title .tags li {
    margin: 4px 4px;
    margin-left: 0px;
  }
  .title span {
    font-size: 18px;
    margin: 24px 0px;
  }
  .file-container {
    padding: 0px 32px;
    margin: 60px auto;
  }
  .file-container h4 {
    font-size: 28px;
    margin-top: 80px;
  }
  .file-container .context {
    font-size: 20px;
    margin: 48px 0px;
  }
  .file-container .context b {
    font-size: 22px;
  }
  .file-container .projimage {
    margin: 60px auto;
  }
  .file-container .projimage img {
    margin: 10px 0px;
  }
  .file-container .projlink {
    font-size: 20px;
    margin: 48px 0px;
  }
  .file-container .two_column {
    margin: 40px auto;
    max-width: 890px;
    flex-direction: row;
    padding: 8px 16px;
  }
  .file-container .two_column div {
    margin: 20px 16px;
  }
  .demodevice {
    padding: 40px 20px;
  }
  .demodevice .device {
    border-width: 10px;
  }
  .credit p {
    font-size: 16px;
    padding: 8px 0px;
  }
  .footer {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    margin-top: 60px;
    padding: 0px 60px;
  }
  .title h1 {
    font-size: 56px;
    margin: 24px 0px;
  }
  .title .proj_info {
    padding-bottom: 24px;
    margin-top: 60px;
  }
  .title .tags li {
    margin: 4px 4px;
    margin-left: 0px;
  }
  .title .tool h5 {
    padding: 4px 8px;
    height: 26px;
    font-size: 18px;
  }
  .title .tool p {
    padding-left: 16px;
    font-size: 18px;
    line-height: 1.5;
  }
  .file-container {
    padding: 0px 60px;
    margin: 72px auto;
  }
  .file-container h4 {
    font-size: 32px;
    margin-top: 80px;
  }
  .file-container .context {
    font-size: 24px;
    margin: 60px 0px;
    letter-spacing: 0.6px;
    color: #121212;
  }
  .file-container .context b {
    font-size: 26px;
  }
  .file-container .projimage {
    margin: 48px auto;
  }
  .file-container .projlink {
    font-size: 24px;
    margin: 60px 0px;
  }
  .footer {
    margin-top: 180px;
  }
}/*# sourceMappingURL=filestyle.css.map */