  
  .text {
    letter-spacing: 1px;
    line-height: 25px;
    text-align: center;
    h2{
      font-size: 40px;
      color: #333;
      margin: 20px 0px 0px 0px;
    }
    h3{
      margin-top: 60px;
    }
    h6{
      color: #666;
      font-size: 14px;
      padding: 18px 0px;
    }
  }
  .material {
    color: #666;
    font-size: 14px;
    line-height: 20px;
  }
  .introProject{
    margin:0px auto;
    border-bottom: 1px solid #b7a199;
    text-align: center;
    width: 80%;
    h5{
      font-size: 22px;
      padding: 10px 0px;
      text-align: center;
    }
    padding: 30px 60px 60px 60px;
    line-height: 26px;
    text-align: left;
  }
  
  .creditEnd{
    border: none;
  }
  
  .carousel{
    display: block;
    max-width: 600px;
    margin: auto;
    background-color: #222;
    z-index: -10;
  }
  .carousel-inner{
    width: 100%;
  }

  @media screen and (max-width:1340px){
    .content{
      width: 100%;
      padding: 0;
    }
    
    .carousel{
      width: 100%;
    }
    .introProject{
      width: 100%;
      padding: 20px 40px;
    }
    .type{
      width: 260px;
    }
    .creditName{
      width: 260px;
    }
  }

  .orangelink{
    color: #FF7F50;
    cursor: pointer;
    &:hover{
      color: #76cda3;
    }
  }
  
