@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #474747;
  font-family: "Noto Sans TC", sans-serif;
}

label {
  height: 100vh;
}

input {
  display: none;
  z-index: 5;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  transition: all 0.3s;
  animation: ballMove 1s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.card:hover {
  animation: ballStatic 1s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.card:active .centerBall {
  background-color: #ec6262;
}

.card div {
  width: 80vw;
  height: 40vw;
  max-width: 300px;
  max-height: 150px;
  transition: all 0.3s;
}

.topBall {
  transition: all 0.5s;
  border-radius: 150px 150px 0px 0px;
  background-color: #ec6262;
  border-bottom: 5px solid #474747;
  transform: translateY(-2%);
  z-index: 3;
}
.topBall .centerBall {
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(100% + 5px);
  left: 50%;
  width: 68px;
  height: 68px;
  border: 10px solid #474747;
  background-color: #f0f0e6;
  border-radius: 100%;
}
.topBall .centerBall:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background-color: #f0f0e6;
  animation: blink 1.5s ease-in-out infinite;
  z-index: 10;
}

.bottomBall {
  transition: all 0.5s;
  border-radius: 0px 0px 150px 150px;
  background-color: #f0f0e6;
  border-top: 5px solid #474747;
  transform: translateY(2%);
}

.inner div {
  position: absolute;
  transform: translate(-50%, -50%);
}

.inner {
  transition: all 0.3s;
  position: absolute;
  width: 80vw;
  height: 0vw;
  max-width: 290px;
  max-height: 0px;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  border-radius: 12px;
  background-color: #995f5f;
  z-index: -2;
}
.inner .totodile {
  transition: all 0.5s;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(20%);
  z-index: -1;
  opacity: 0;
}
.inner .totodile img {
  width: 260px;
}
.inner .hbdText {
  transition: all 0.5s;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(20%);
  z-index: -2;
  opacity: 0;
}
.inner .hbdText img {
  width: 220px;
}

span {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  letter-spacing: 3px;
}

.marquee {
  position: absolute;
  overflow: hidden;
  transform: translate(0%, -50%);
  width: 100vw;
  height: 40px;
  top: 50vh;
  left: 0;
  border-top: 1px solid #57ace2;
  border-bottom: 1px solid #57ace2;
}

.marTop {
  top: 12vh;
}
.marTop span {
  animation: marqueeMove 10s -4.5s linear infinite;
}

.marBottom {
  top: 88vh;
  z-index: -1;
}
.marBottom span {
  animation: marqueeMove 10s linear infinite;
}

input[type=checkbox]:checked ~ .card {
  animation: none;
}
input[type=checkbox]:checked ~ .card:hover {
  animation: none;
}
input[type=checkbox]:checked ~ .card .topBall {
  transform: translateY(-100%);
}
input[type=checkbox]:checked ~ .card .bottomBall {
  transform: translateY(100%);
}
input[type=checkbox]:checked ~ .card .centerBall:after {
  animation: none;
}

input[type=checkbox]:checked ~ .inner {
  background-color: #f2ef9c;
  height: 80vw;
  max-height: 290px;
}
input[type=checkbox]:checked ~ .inner .totodile {
  transform: translate(-50%, -50%) scale(100%);
  left: 15%;
  opacity: 1;
}
input[type=checkbox]:checked ~ .inner .hbdText {
  transform: translate(-50%, -50%) scale(100%);
  left: 75%;
  opacity: 1;
}

@keyframes ballMove {
  0% {
    transform: translate(calc(-50% + 30px), -50%) rotate(20deg);
  }
  100% {
    transform: translate(calc(-50% - 30px), -50%) rotate(-20deg);
  }
}
@keyframes ballStatic {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes blink {
  0% {
    background-color: #f0f0e6;
    box-shadow: 0px 0px 0px 0px rgba(236, 98, 98, 0.8), 0px 0px 0px 0px rgba(236, 98, 98, 0.7), 0px 0px 0px 0px rgba(236, 98, 98, 0.5);
  }
  50% {
    background-color: rgba(236, 98, 98, 0.7);
    box-shadow: 0px 0px 3px 3px rgba(236, 98, 98, 0.8), 0px 0px 5px 5px rgba(236, 98, 98, 0.7), 0px 0px 10px 10px rgba(236, 98, 98, 0.5);
  }
  100% {
    background-color: #f0f0e6;
    box-shadow: 0px 0px 0px 0px rgba(236, 98, 98, 0.8), 0px 0px 0px 0px rgba(236, 98, 98, 0.7), 0px 0px 0px 0px rgba(236, 98, 98, 0.5);
  }
}
@keyframes marqueeMove {
  0% {
    left: 180vw;
  }
  100% {
    left: -180vw;
  }
}/*# sourceMappingURL=style.css.map */