

  .Credit{
    width: 80%;
    margin: 0px auto;
    padding: 30px 30px 60px 30px;
    border-bottom: 1px solid #b7a199;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
  }
  .tr{
    height: 50px;
    padding: 8px 0px;
  }
  .type{
    width: 380px;
    text-align: right;
    font-weight: 400;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .span{
    border-left: 2px solid #FF7F50;
    height: 40px;
  }
  .creditName{
    width: 380px;
    text-align: left;
    font-weight: 300;
    padding-left: 10px;
  }


  @media screen and (max-width:1340px){
    
  }
  